<h1>LISTA DE COMPRAS</h1>

<section>
  <h2>Productos que comprar:</h2>
  <ol>
      <li>Arroz</li>
      <li>Pollo</li>
      <li>Huevos</li>
      <li>Chuleta de Cerdo</li>
      <li>Pan</li>
      <li>Leche</li>
      <li>Mantequilla</li>
      <li>Plátano</li>
      <li>Mandarina</li>
      <li>Papaya</li>
      <li>Pera</li>
      <li>Uvas</li>
  </ol>
</section>

<section>
  <h3>Productos comprados:</h3>
  <ol>
      <li>Arroz</li>
      <li>Huevos</li>
      <li>Leche</li>
      <li>Pera</li>
      <li>Uvas</li>
  </ol>
</section>

<section>
  <h4>Productos no comprados</h4>
  <ol>
      <li>Pollo</li>
      <li>Chuleta de Cerdo</li>
      <li>Pan</li>
      <li>Mantequilla</li>
      <li>Plátano</li>
      <li>Mandarina</li>
      <li>Papaya</li>
  </ol>
</section>